<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Address book</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
        <h1>Your very own Address Book!</h1>
        </div>
        {% if contacts is not empty %}
            {% for contact in contacts %}
            <ul>
                <li>{{contact.getName}}</li>
                <li>{{contact.getLast}}</li>
                <li>{{contact.getAddress}}</li>
                <li>{{contact.getPhone}}</li>
                <li>{{contact.getEmail}}</li>
            </ul>
            {% endfor %}
            {% endif %}

        <form action="/create" method="post">
            <div class="form-group">
                <label for="name">First name:</label>
                <input type="text" name="name" id="name">
                <label for="last">Last name:</label>
                <input type="text" name="last" id="last">
            </div>
            <div class="form-group">
                <label for="address">address:</label>
                <input type="text" name="address" id="address">
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="text" name="phone" id="phone">
            </div>
            <div class="form-group">
                <label for="eamil">Email:</label>
                <input type="text" name="email" id="email">
            </div>
            <button type="submit" name="button">Add Contact</button>
        </form>
        <form action="/delete" method="post">
            <button type="submit" name="button">Clear Contacts</button>
        </form>
    </div>
</body>
</html>
