<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="/../css/styles.css" type="text/css">
    <title>New Contact</title>
</head>
<body id="create-new">
    <div class="container">
        <h1 id="new-head">New Contact Added!</h1>
        <p class=create-page>First: {{ newcontact.getName }}</p>
        <p class=create-page>Last: {{ newcontact.getLast}}</p>
        <p class=create-page>Address: {{ newcontact.getAddress }}</p>
        <p class=create-page>Phone: {{ newcontact.getPhone }}</p>
        <p class=create-page>Email: {{ newcontact.getEmail}}</p>
        <h3 id="see"><a href='/'>See 'em all</a></h3>
    </div>
</body>
</html>
