<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
          <link rel="stylesheet" href="/../css/styles.css" type="text/css">
        <title>Find them</title>
    </head>
    <body id="search">
        <div class="container">
            <h1>This person?</h1>
            {% if find is empty %}
            <h1>Can't find them!</h1>
            {% else %}
            {% for name in find %}
            <ul>
                <li class=search>{{ name.getName }}</li>
                <li class=search>{{ name.getLast }}</li>
                <li class=search>{{ name.getAddress }}</li>
                <li class=search>{{ name.getPhone }}</li>
                <li class=search>{{ name.getEmail }}</li>
            </ul>
            {% endfor %}
            {% endif %}
            <form action="" method="post">
                <button type="submit" name="button" class="btn">Delete Contact</button>
            </form>
            <a href='/'>Home</a>
        </div>
    </body>
    </html>
