<html>
  <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
          <link rel="stylesheet" href="/../css/styles.css" type="text/css">
        <title>Find them</title>
    </head>
    <body id="search">
        <div class="container">
            <h1>This person?</h1>
            {% if find is empty %}
            <h1>Can't find them!</h1>
            {% else %}
            {% for name in find %}
            <ul>
                <li class=search>First name: {{ name.getName }}</li>
                <li class=search>Last name: {{ name.getLast }}</li>
                <li class=search>Address: {{ name.getAddress }}</li>
                <li class=search>Phone: {{ name.getPhone }}</li>
                <li class=search>Email: {{ name.getEmail }}</li>
            </ul>
            {% endfor %}
            {% endif %}
            <p id="search-home"><a href='/'>Home</a></p>
        </div>
    </body>
</html>
